// banner-main
.bg-main{
    background-image: url(../image-week3-4/home-header.png);
    height: calc(100vh - 80px);
}
.main-wrap{
    height: 100%;
}
.main-content{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.main-title-l{
    font-size: $fs-1;
}
.main-title-m{
    font-size: $fs-3;
    color: $c-secondary;
}
.main-btn{
    padding: 6px 12px;
    margin-top: 10px;
    font-size: $fs-5;
}
@media(max-width: 992px){
    .bg-main-md{
        background-image: url(../image-week3-4/home-header-sm.png);
    }
    .main-rwd{
        padding: 0 36px;
    }
}
@media(max-width: 767px){
    .bg-main-sm{
        height: calc(100vh - 176px);
    }
    .main-title-l{
        font-size: $fs-4;
        font-weight: $fw-l;
    }
    .main-title-m{
        font-size: $fs-6;
    }
}

// banner-about
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-icon{
    width: 84px;
    margin: 0 auto 24px;
}
.about-title-s{
    margin-bottom: 8px;
}

// banner-product
@media(max-width: 992px){
    .product-group{
        max-width: 372px;
        margin: 0 auto;
    }
}

// banner-design
.bg-design{
    background-image: url(/w3-homework/week3-index/image-week3-4/index-bg.png);
}
.design-title{
    color: #ffffff;
}
.design-card-l{
    background-image: url(/w3-homework/week3-index/image-week3-4/home-section4-1.png);
    height: 240px;
}
.design-card-r{
    background-image: url(/w3-homework/week3-index/image-week3-4/home-section4-2.png);
    height: 240px;
}
@media(max-width: 992px){
    .bg-design{
        background-image: url(/w3-homework/week3-index/image-week3-4/index-bg-sm.png);
        background-position: top;
    }
}
@media(max-width: 576px){
    .design-card-l{
        background-image: url(/w3-homework/week3-index/image-week3-4/home-section4-1-sm.png);
    }
    .design-card-r{
        background-image: url(/w3-homework/week3-index/image-week3-4/home-section4-2-sm.png);
    }
}
// banner-customer-review
.review-card{
    display: flex;
    flex-direction: column;
}
.review-card-style{
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
}
.m-4{
    margin: 16px;
}
.review-name{
    margin-bottom: 8px;
}
.review-text{
    height: 72px;
    overflow: hidden;
    margin-bottom: 48px;
    // outline: 1px solid black;
}
.time{
    margin-top: auto;
}
