// color
$c-primary: #AA0601;
$c-secondary:  #650300;
$bgc-light: #FBF2F2;
$c-text: #000000;

// font-size
$fs-1: 64px;
$fs-2: 48px;
$fs-3: 36px;
$fs-4: 24px;
$fs-5: 20px;
$fs-6: 16px;

// font-weight
$fw-l: 700;
$fw-m: 500;